:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.3s;
}

body {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background: #FCF8E8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    display: inline-block;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
    margin: 3px;
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color:  #94B49F;
    transform: rotateY(180deg);
}

.superior {
    background: #DF7861;
}

.nuevo-juego {
    cursor: pointer;
    background: #DF7861;
    padding: 20px;
    border-radius: 50px;
    font-size: 130%;
}
